body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.menu-bar {
    position: fixed;
    top: 70px;
    left: 0;
    height: 100%;
    width: 18%;
    background-color: #1d111d18;
    overflow-y: auto; /* Enables vertical scrolling */
    transition: width 0.3s ease, height 0.3s ease; /* Added height transition */
    display: flex;
    flex-direction: column;
}

.menu-bar.open {
    width: 250px;
}

.menu-toggle {
    background: hsl(0, 29%, 9%);
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    transition: background-color 0.3s ease;
}

.menu-toggle:hover {
    background-color: #575757;
}

.menu-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    transition: opacity 0.3s ease;
}

.menu-bar.open ul {
    opacity: 1;
}

.menu-bar ul li {
    border-bottom: 1px solid #ccc;
}

.menu-item {
    padding: 10px;
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.folder-input {
    display: block;
    margin: 5px 0;
    border: 2px solid #000; /* Changed border color to black */
    padding: 5px;
    width: calc(100% - 30px); /* Fit within the menu */
    transition: border-color 0.3s ease; /* Added transition for border color */
}

.folder-input:focus {
    border-color: #000; /* Maintain black border color on focus */
}

.item-expand {
    cursor: pointer;
}

.folder-values {
    margin-top: 10px;
}

.folder-value {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.delete-icon {
    cursor: pointer;
    margin-left: 10px;
}

.toggle-name {
    text-align: center;
    color: white;
    font-style:normal;
}

/* Responsive design adjustments */
@media (max-width: 1024px) {
    .menu-bar {
        width: 15%;
        height: 90%; /* Reduced height for tablets and small desktops */
    }

    .menu-bar.open {
        width: 220px;
    }
}

@media (max-width: 768px) {
    .menu-bar {
        width: 12%;
        height: 80%; /* Further reduced height for tablets */
    }

    .menu-bar.open {
        width: 200px;
    }
}

@media (max-width: 480px) {
    .menu-bar {
        width: 8%;
        height: 70%; /* Further reduced height for mobile phones */
    }

    .menu-bar.open {
        width: 150px;
    }

    .folder-input {
        width: calc(100% - 20px);
    }
}
