
.page.contact-page {
    text-align: center;
    padding: 50px;
    background: url('/public/images/benjamin-voros-U-Kty6HxcQc-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    /* animation: fadeIn 1s ease-in; */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  